{% extends 'navigation.html' %}
{% load static %}
{% block body %}


<div class="container" style = "margin-top : 150px">
      <h2 class = text-center style = "font-family : 'Monotype Corsiva' ; color : #E6120E">Updated News for Employess</h2>
      <div class="row">
          <div class="col-sm-4">
              <img src="{% static 'images/about.jpg' %}" width=300 height = 200 class="img-responsive">        
          </div>
          <div class="col-sm-8" style = "font-weight : bold ; margin-top : 30px">



<marquee behavior="function scroll() { [native code] }" direction="up" onload="this.setAttribute('scrollamount', 2)" onmouseout="this.start();this.setAttribute('scrollamount', 2);this.behavior=scroll;" onmouseover="this.stop()" scrollamount="2" style="height: 154px;margin-left: -20px; margin-top: 7px; text-align: justify; padding: 2px 7px;">
<li>Notice Inviting Applications for Empanelment of CA Firms - Regional Office, Ambattur.... Read
<a href="https://news.google.com/search?q=Empanelment of CA Firms" target="_blank" title="Click here for Details"> 
(Click here for details)</a></li>
<li>Notice Inviting Applications for Empanelment of Advocates - Regional Office, Bhopal.... Read
<a href="http://ccras.nic.in/sites/default/files/viewpdf/Tenders/03042018_CARIHD_Bhubaneswar_Tender_Manpower.pdf" target="_blank" title="Click here for Details"> (Click here for details)</a></li>
<li>Notice Inviting Applications for Empanelment of CA Firms - Regional Office, Vapi.... Read
<a href="https://www.bankofbaroda.in/writereaddata/Portal/Tender/1765_1/1_Final-Tender-Document-House-Keeping-Services.pdf" target="_blank" title="Click here for Details"> (Click here for details)</a></li>
<li>Notice Inviting Applications for Empanelment of CA Firms - Regional Office, Ambattur.... Read
<a href="http://www.sbsnagarpolice.com/Forms/loc.PDF" target="_blank" title="Click here for Details"> (Click here for details)</a></li>
<li>
Notice Inviting application for empanelment of advocates - Zonal Office, Haryana.... Read
<a href="https://recindia.nic.in/uploads/corrigendum/1608200786corrigendum_no_02_security_it_soc_tender.pdf" target="_blank" title="Click here for Details"> (Click here for details)</a></li>
<li>
Notice Inviting Applications for Empanelment of CA Firms - Regional Office, Jamshedpur.... Read
<a href="https://bidassist.com/uttar-pradesh-tenders/central-public-works-department/documents-17cb8dba-d0c7-46ed-a69b-a0dd52f2256e" target="_blank" title="Click here for Details"> (Click here for details)</a></li>
<li>
Notice Inviting application for empanelment of advocates for Uttar Pradesh State (Block Year 2021-2023) - Zonal Office, Uttar Pradesh.... Read
<a href="http://mohua.gov.in/upload/uploadfiles/files/Annual_Report_2020_21_MoHUA_EnglishVersion%20(Final).pdf" target="_blank" title="Click here for Details"> (Click here for details)</a></li> 
<li>
Notice Inviting Applications for Empanelment of Advocates - Regional Office, Gwalior.... Read
<a onclick="fn_openAttach('Pre-Bid Clarifications.pdf')" target="_blank" title="Click here for Details"> (Click here for details)</a></li> 
<li>
Notice Inviting Applications for Empanelment of Advocates - Regional Office, Goa.... Read
<a onclick="fn_openAttach('104SK Modified Tender Document Latest.pdf')" target="_blank" title="Click here for Details"> (Click here for details)</a></li> 
<li><b>
Notice Inviting Applications for Empanelment of Advocates - Regional Office, Raipur.... Read
<a onclick="fn_openAttach('AHS-Accounts- Informing to network Hospitals about the payments through DTO Urban, Hyderabad.pdf')"> (Click here for details)</a></li> 
<li><b>
Notice Inviting Applications for Empanelment of Advocates - Regional Office, Jabalpur.... Read
<a onclick="fn_openAttach('CIRCULAR_TO_NHWS_TO_RESTORE_THE_SERVICES_UNDER_ARS_EJHS.pdf')" target="_blank" title="Click here for Details"> (Click here for details)</a></li> 
<li><b>
Notice Inviting application for empanelment of advocates for Uttarakhand State (Block Year 2021-2023)
<a onclick="fn_openAttach('CIRCULAR - ISSUE OF MEDICAL CERTIFICATES.docx')" target="_blank" title="Click here for details">(Click here for details)</a></li> 
<li><b>
Notice Inviting application for empanelment of advocates for Delhi State (Block Year 2021-2023)
<a onclick="fn_openAttach('covid19_isolation_beds.pdf')" target="_blank" title="Click here for details">(Click here for details)</a></li> 
<li><b>
Notice Inviting Applications for Empanelment of Advocates - Regional Office, Ujjain.... Read
<a onclick="fn_openAttach('covid19_biometric_exemption.pdf')" target="_blank" title="Click here for details">(Click here for details)</a></li> 
<li>
Notice Inviting Applications for Empanelment of Advocates - Regional Office, Indore.... Read
<a onclick="fn_openAttach('CIRCULAR TO NWH ON AUTO DEDUCTION FOR NON UPDATION OF CLINICAL NOTE UNDER EJHS.pdf')" target="_blank" title="Click here for details">(Click here for details)</a></li> 
<li>
Notice Inviting Applications for Empanelment of Advocates - Regional Office, Sagar.... Read
<a onclick="fn_openAttach('CIRCULAR.pdf')" target="_blank" title="Click here for Details">(Click here for details)</a></li> 
<li>
Notice Inviting Applications for Empanelment of CA Firms - Regional Office, Kandivali West.... Read
<a onclick="fn_openAttach('circular1.jpg')" target="_blank" title="Click here for Circular">(Click here for Circular)</a></li> 
<li>Notice inviting application for empanelment of Advocates - RO Hyderabad.... Read
<a onclick="fn_openAttach('For Employee.zip')" target="_blank" title="Click here for details">(Click here for Employees)</a> 
<a onclick="fn_openAttach('For Pensioner.zip')">(Click here for Pensioners)</a></li> 
</marquee> 
</ul>



          </div>
      </div>
  </div>


{% endblock %}
